@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:wght@100..900&family=Poppins:wght@100..900&family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

:root {
  --font-inter: "Inter", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-manrope: "Manrope", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --primary-red: #fa0400;
}

body {
  font-family: var(--font-playfair);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overscroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text_primary {
  color: var(--primary-red);
}

.text_manrope {
  font-family: var(--font-manrope);
}

.text_inter {
  font-family: var(--font-inter);
}

.text_poppins {
  font-family: var(--font-poppins);
}

.text_playfair {
  font-family: var(--font-playfair);
}

.bg_primary {
  background-color: var(--primary-red);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.swiper-custom .swiper-slide {
  transition: transform 0.35s ease;
  opacity: 0.6;
}

.swiper-custom .swiper-slide-active {
  transform: scale(1.08);
  opacity: 1;
}

.swiper-pagination-bullet {
  width: 30px;
  height: 3px;
  border-radius: 0px;
  background: #c8c8c8;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #000;
}

.swiper-pagination-bullet {
  width: 28px !important;
  height: 3px !important;
  border-radius: 0 !important;
  background: #d3d3d3 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #000 !important;
}
.swiper-pagination {
  bottom: 0 !important;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.story-card {
  transform: scale(0.9);
  opacity: 0.7;
}

.swiper-slide-active .story-card {
  transform: scale(1.1);
  opacity: 1;
}

.swiper-slide-prev .story-card,
.swiper-slide-next .story-card {
  transform: scale(0.95);
  opacity: 0.85;
}

.pe_signin_button button {
  background-color: #000 !important;
  color: white !important;
  border-radius: 8px !important;
  font-size: 12px !important;
  padding: 8px 10px !important;
}

.model .swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

.rdrCalendarWrapper {
  width: 290px !important;
}

.rdrMonth {
  width: 100% !important;
}
